<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.ufrn.br/ppgti/ppgti1007/SalarioLiquido"
			class = "br.ufrn.ppgti.ppgti1007.salarioLiquido.SalarioLiquidoPackage"
			genModel = "model/generated/SalarioLiquido.genmodel" />
	</extension>
</plugin>
